@media screen and (max-width:768px){
    
    nav{
        display: flex;
        justify-content: center;
    }


 nav ul{
    margin: auto;
    display: flex;
    font-size: 11px;
 }
    

    .videos>iframe{
        width: 80%;
    }

    .video >iframe{
       width: 100%;
    }

    main p{
     text-indent: 30px;
     text-align: justify;
     margin: 0px 12px;
    }
  }
