    

@media screen and (max-width:768px) {
    
    body{
        zoom: 70%;
    }

    header{
        width: 100%;
    }

    header.login-container{
       display: block;
       text-align: center;
       
    }

    #text-login{
        font-size: 40px;
        margin-bottom: 20px;
        
    }

    .input-login{
        width:50% ;
        margin: auto;
    }

    #login{
        border-radius: 15px;
        padding: 12px;
    }

    #senha{
        border-radius: 15px;
        padding: 12px;
    }

    #login-button{
        margin-top: 15px;
        border-radius: 15px;
        padding: 7px;
    }
     
    header img {
        width: 100%;
        height: 100px;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    nav a {
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 10px;
        width: 100%;
    }

    .video {
        justify-content: center;
        margin: auto;
    }

    .videos {
        justify-content: center;
        margin: auto;
    }

    .videos > iframe {
        width: 90%;
        justify-content: center;
        margin: auto;
    }

    .video > iframe { 
        width: 100%;
        margin: auto;
    }

    main p {
        text-indent: 30px;
        text-align: justify;
        margin: 0px 12px;
    }
}

@media screen and (max-width:600px){
    body{
        zoom: 70%;
    } 

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    nav a {
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 10px;
        width: 100%;
    }

}

@media screen and (max-width:492px){
    body{
        zoom: 50%;
    } 
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    nav a {
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 10px;
        width: 100%;
    }

}