

@media screen and (max-width:768px){    

header{
    width: 100%;
}

   nav{
    
    display:flex;
   }

   nav a{
    padding: 12px;
    border-radius: 15px;
    margin-inline:5px ;
   }

    .video{
        justify-content: center;
        margin: auto;
    }

    .videos{
        justify-content: center;
        margin: auto;
    }

    .videos>iframe{
        width: 90%;
        justify-content: center;
        margin: auto;
    }

    .video >iframe{
       width: 100%;
       margin: auto;
    }

    main p{
     text-indent: 30px;
     text-align: justify;
     margin: 0px 12px;
    }

  }


